<div>
    <h2>コールセンターシステムの改修</h2>

    <div>
        <h3>【プロジェクト概要】</h3>
        <p>コールセンターシステム及び関連マイクロサービスの追加開発。</p>
    </div>

    <div>
        <h3>【プロジェクト規模 / 役割】</h3>
        <p>要員7名 / 開発エンジニア</pp>
    </div>

    <div>
        <h3>【業務内容】</h3>
        <p>・追加開発における、基本設計～単体テスト。</p>
        <p>・バグのフィックス対応。</p>
        <p>・コードレビュー。</p>
        <p>・リリース対応。</p>
    </div>

    <div>
        <h3>【開発環境】</h3>
        <table>
            <tr>
                <th>OS</th><td>Mac、CentOS7</td>
            </tr>
            <tr>
                <th>言語</th><td>PHP8.0、JavaScript、Go1.19</td>
            </tr>
            <tr>
                <th>FW</th><td>Laravel8.40、Vue3.1</td>
            </tr>
            <tr>
                <th>Web</th><td>Apache2.4、Nginx1.20</td>
            </tr>
            <tr>
                <th>DB</th><td>MySQL8.0、MongoDB6.0</td>
            </tr>
            <tr>
                <th>他</th><td>HTML5、CSS3、Docker、GitHub、Backlog、Notion、GCP(CloudBuild、ComputeEngine 等)、Vuex4、PrimeVue3、Quasar2、Salesforce、HubSpot、Kintone</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="js/general.js"></script>