<div>
    <h2>コールセンターシステムのAWS移行</h2>

    <div>
        <h3>【プロジェクト概要】</h3>
        <p>コールセンターシステム及び関連マイクロサービスのインフラをGCPからAWSの利用に切り替え。</p>
        <p>（1）コールセンターシステム：ECSコンテナ化</p>
        <p>（2）CRM連携システム：上記システムに内包化</p>
        <p>（3）ユーザー管理システム：ECSコンテナ化</p>
        <p>（4）キャリア録音の再生機能：AWSサービス群で構築</p>
        <p>（5）通話記録のAI要約機能：EC2上に構築</p> 
    </div>

    <div>
        <h3>【プロジェクト規模 / 役割】</h3>
        <p>要員6名 / リードエンジニア</pp>
    </div>

    <div>
        <h3>【業務内容】</h3>
        <p>・AWS移行における、調査、PoC、基本設計～単体テスト。</p>
        <p>・AWSサービスの設定対応。</p>
        <p>・サーバー内でのミドルウェア、アプリケーションの設定対応。</p>
        <p>・リリース対応。</p>
    </div>

    <div>
        <h3>【開発環境】</h3>
        <table>
            <tr>
                <th>OS</th><td>Mac、CentOS7、Debian10、AmazonLinux2</td>
            </tr>
            <tr>
                <th>言語</th><td>PHP(7.3・8.0)、JavaScript、Go1.19、Python3.13</td>
            </tr>
            <tr>
                <th>FW</th><td>Laravel(5.8・8.40)、Vue(2.6・3.1)</td>
            </tr>
            <tr>
                <th>Web</th><td>Apache2.4、Nginx1.20</td>
            </tr>
            <tr>
                <th>DB</th><td>MySQL(5.7・8.0)、MongoDB6.0</td>
            </tr>
            <tr>
                <th>他</th><td>HTML5、CSS3、Docker、GitHub、Backlog、Notion、ChatGPT、GitHubCopilot、AWS(EC2、ECS、Aurora、S3、DynamoDB、TransferFamily、SQS、StepFunctions、Lambda、APIGateway、SecretsManager、ParameterStore、ECR、CodeBuild、IAM、CloudWatch 等)、GCP(ComputeEngine、CloudSQL、CloudBuild 等)、PHP-FPM、Node、PM2、Salesforce、HubSpot、Kintone</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="js/general.js"></script>