<div>
    <h2>コールセンターシステムのデータクリーンアップシステムの開発</h2>

    <div>
        <h3>【プロジェクト概要】</h3>
        <p>コールセンターシステムのデータベースから不要データ（解約テナントに関するデータ）をクリーンアップするためのWebシステムを新規開発。</p>
    </div>

    <div>
        <h3>【プロジェクト規模 / 役割】</h3>
        <p>要員4名 / リードエンジニア</pp>
    </div>

    <div>
        <h3>【業務内容】</h3>
        <p>・新規開発における、調査、PoC、基本設計～総合テスト。</p>
        <p>・サーバー内でのミドルウェア、アプリケーションの設定対応。</p>
        <p>・リリース対応。</p>
    </div>

    <div>
        <h3>【開発環境】</h3>
        <table>
            <tr>
                <th>OS</th><td>Mac、Debian12、AmazonLinux2</td>
            </tr>
            <tr>
                <th>言語</th><td>PHP8.3、JavaScript</td>
            </tr>
            <tr>
                <th>FW</th><td>Laravel12.21、TailwindCSS</td>
            </tr>
            <tr>
                <th>Web</th><td>Apache2.4</td>
            </tr>
            <tr>
                <th>DB</th><td>MySQL8.4、PostgreSQL13</td>
            </tr>
            <tr>
                <th>他</th><td>HTML5、CSS3、Docker、GitHub、Backlog、Notion、ChatGPT、GitHubCopilot、AWS(EC2、Aurora)、GCP(CloudDNS)</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="js/general.js"></script>