<div>
    <h2>CM広告枠の販売管理システムの開発</h2>

    <div>
        <h3>【プロジェクト概要】</h3>
        <p>広告関連事業者向けの広告枠販売管理システムにおいて、ユーザーや管理者からの要望と企画に合わせ調査・修正・追加開発等。2か月単位でのスプリントによるアジャイル開発を実施。</p>
    </div>

    <div>
        <h3>【プロジェクト規模 / 役割】</h3>
        <p>要員8名 / 開発エンジニア</pp>
    </div>

    <div>
        <h3>【業務内容】</h3>
        <p>・追加開発における、設計書作成、コーディング、単体テスト。</p>
        <p>・不具合事象における、調査、方針策定、設計書修正、コーディング、単体テスト。</p>
        <p>・他メンバーのコーディングレビュー。</p>
    </div>

    <div>
        <h3>【開発環境】</h3>
        <table>
            <tr>
                <th>OS</th><td>Windows、CentOS7</td>
            </tr>
            <tr>
                <th>言語</th><td>PHP7.2、JavaScript</td>
            </tr>
            <tr>
                <th>FW</th><td>Laravel5.7、jQuery3.3</td>
            </tr>
            <tr>
                <th>Web</th><td>Apache2.4</td>
            </tr>
            <tr>
                <th>DB</th><td>MySQL5.7、AWS Aurora</td>
            </tr>
            <tr>
                <th>他</th><td>AWS(EC2)、HTML5、CSS3、Bootstrap、VirtualBox、Vagrant、GitHub、Backlog</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="js/general.js"></script>