@charset "utf-8";

html {
  font-size: 62.5%; /* -> 10px; */
  font-family: "Noto Sans JP", sans-serif;
  background-color: #F4F5F7;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin: 20px 0 0;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

table {
  font-size: 1.6rem;
  border-collapse: separate;
  border-spacing: 5px 15px;
}